<h1>Log in</h1>
<form method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Username">

    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password">

    <button>Log in</button>  
    <a style="text-decoration: underline; padding: 15px" href="/users/register">Create a account</a>
</form>