<h1>Register a new account</h1>
<form method="post">
    <label for="username">Name</label>
    <input type="username" name="username" id="username" placeholder="Username">

    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Email">

    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password">


    <button>Create account</button>    
</form>